body{
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
}

p{
    display: flex;
    margin: auto 10px;
    font-size: 20px;
    color: rgb(247, 247, 251);
    border-radius: 4px;
    border: 1px solid lightblue;
    padding: 10px;
}